{% load template_tags %}
{# CSS Inlined using https://putsmail.com/inliner #}
<!DOCTYPE html>
<html style="font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;font-size:10px;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style>
        *:before {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box
        }

        *:after {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box
        }

        .table-hover > tbody > tr:hover {
            background-color: #f5f5f5
        }
    </style>
    <style type="text/css">
        @import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700");

        /*!
         * bootswatch v3.3.7
         * Homepage: http://bootswatch.com
         * Copyright 2012-2017 Thomas Park
         * Licensed under MIT
         * Based on Bootstrap
        *//*!
         * Bootstrap v3.3.7 (http://getbootstrap.com)
         * Copyright 2011-2016 Twitter, Inc.
         * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
         */
        /*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */
        @media print {
            *, *:before, *:after {
                background: transparent !important;
                color: #000 !important;
                -webkit-box-shadow: none !important;
                box-shadow: none !important;
                text-shadow: none !important
            }

            thead {
                display: table-header-group
            }

            tr {
                page-break-inside: avoid
            }

            p, h3 {
                orphans: 3;
                widows: 3
            }

            h3 {
                page-break-after: avoid
            }

            .table {
                border-collapse: collapse !important
            }

            .table td, .table th {
                background-color: #fff !important
            }
        }

        @font-face {
            font-family: 'Glyphicons Halflings';
            src: url('../fonts/glyphicons-halflings-regular.eot');
            src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg')
        }

        @-ms-viewport {
            width: device-width
        }
    </style>
</head>
<body style='-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;font-family:"Segoe UI", "Source Sans Pro", Calibri, Candara, Arial, sans-serif;font-size:15px;line-height:1.42857143;color:#333333;background-color:#ffffff;-webkit-font-smoothing:antialiased;'>
<p style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0 0 10.5px;">
</p>

<p style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0 0 10.5px;">{{ user.first_name }} {{ user.last_name }}
    on behalf of Group {{ group_number }} has requested the following
    trade(s):</p>
<h3 style='-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-family:"Segoe UI", "Source Sans Pro", Calibri, Candara, Arial, sans-serif;font-weight:300;line-height:1.1;color:inherit;margin-top:21px;margin-bottom:10.5px;font-size:26px;'>
    Securities</h3>
<table class="table table-striped table-hover"
       style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border-collapse:collapse;border-spacing:0;background-color:transparent;width:100%;max-width:100%;margin-bottom:21px;">
    <thead style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;">
    <tr class="success"
        style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;color:#fff;">
        <th style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;text-align:left;padding:8px;line-height:1.42857143;vertical-align:top;border-top:1px solid #dddddd;vertical-align:bottom;border-bottom:2px solid #dddddd;background-color:#3fb618;border-top:0;">
            Currency
        </th>
        <th style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;text-align:left;padding:8px;line-height:1.42857143;vertical-align:top;border-top:1px solid #dddddd;vertical-align:bottom;border-bottom:2px solid #dddddd;background-color:#3fb618;border-top:0;">
            Ticker
        </th>
        <th style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;text-align:left;padding:8px;line-height:1.42857143;vertical-align:top;border-top:1px solid #dddddd;vertical-align:bottom;border-bottom:2px solid #dddddd;background-color:#3fb618;border-top:0;">
            ISIN
        </th>
        <th style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;text-align:left;padding:8px;line-height:1.42857143;vertical-align:top;border-top:1px solid #dddddd;vertical-align:bottom;border-bottom:2px solid #dddddd;background-color:#3fb618;border-top:0;">
            Security Name
        </th>
        <th style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;text-align:left;padding:8px;line-height:1.42857143;vertical-align:top;border-top:1px solid #dddddd;vertical-align:bottom;border-bottom:2px solid #dddddd;background-color:#3fb618;border-top:0;">
            Buy/Sell
        </th>
        <th style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;text-align:left;padding:8px;line-height:1.42857143;vertical-align:top;border-top:1px solid #dddddd;vertical-align:bottom;border-bottom:2px solid #dddddd;background-color:#3fb618;border-top:0;">
            Shares
        </th>
        <th style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;text-align:left;padding:8px;line-height:1.42857143;vertical-align:top;border-top:1px solid #dddddd;vertical-align:bottom;border-bottom:2px solid #dddddd;background-color:#3fb618;border-top:0;">
            Price
        </th>
        <th style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;text-align:left;padding:8px;line-height:1.42857143;vertical-align:top;border-top:1px solid #dddddd;vertical-align:bottom;border-bottom:2px solid #dddddd;background-color:#3fb618;border-top:0;">
            MKT/LIMIT
        </th>
        <th style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;text-align:left;padding:8px;line-height:1.42857143;vertical-align:top;border-top:1px solid #dddddd;vertical-align:bottom;border-bottom:2px solid #dddddd;background-color:#3fb618;border-top:0;">
            Order Type
        </th>
        <th style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;text-align:left;padding:8px;line-height:1.42857143;vertical-align:top;border-top:1px solid #dddddd;vertical-align:bottom;border-bottom:2px solid #dddddd;background-color:#3fb618;border-top:0;">
            Total
        </th>
        <th style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;text-align:left;padding:8px;line-height:1.42857143;vertical-align:top;border-top:1px solid #dddddd;vertical-align:bottom;border-bottom:2px solid #dddddd;background-color:#3fb618;border-top:0;">
            Account
        </th>
    </tr>
    </thead>
    <tbody style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;">
    {% for trade in trades %}

        <tr style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;background-color:#f9f9f9;">
            <td data-th="Currency"
                style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;padding:8px;line-height:1.42857143;vertical-align:top;border-top:1px solid #dddddd;">{{ trade.currency }}</td>
            <td data-th="Ticker"
                style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;padding:8px;line-height:1.42857143;vertical-align:top;border-top:1px solid #dddddd;">{{ trade.ticker }}</td>
            <td data-th="ISIN"
                style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;padding:8px;line-height:1.42857143;vertical-align:top;border-top:1px solid #dddddd;">{{ trade.isin }}</td>
            <td data-th="Security Name"
                style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;padding:8px;line-height:1.42857143;vertical-align:top;border-top:1px solid #dddddd;">{{ trade.sec_name }}</td>
            <td data-th="Buy/Sell"
                style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;padding:8px;line-height:1.42857143;vertical-align:top;border-top:1px solid #dddddd;">{{ trade.buy_sell }}</td>
            <td data-th="Shares"
                style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;padding:8px;line-height:1.42857143;vertical-align:top;border-top:1px solid #dddddd;">{{ trade.shares }}</td>
            <td data-th="Price"
                style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;padding:8px;line-height:1.42857143;vertical-align:top;border-top:1px solid #dddddd;">{{ trade.price|currency }}</td>
            <td data-th="MKT/LIMIT"
                style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;padding:8px;line-height:1.42857143;vertical-align:top;border-top:1px solid #dddddd;">{{ trade.mkt_limit }}</td>
            <td data-th="Order Type"
                style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;padding:8px;line-height:1.42857143;vertical-align:top;border-top:1px solid #dddddd;">{{ trade.order_type }}</td>
            <td data-th="Total"
                style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;padding:8px;line-height:1.42857143;vertical-align:top;border-top:1px solid #dddddd;">{{ trade.total|currency }}</td>
            <td data-th="Account"
                style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;padding:8px;line-height:1.42857143;vertical-align:top;border-top:1px solid #dddddd;">{{ group_account|remove_extra_0 }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% if cash.USD.conversion < 0 %}

    <h3 style='-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-family:"Segoe UI", "Source Sans Pro", Calibri, Candara, Arial, sans-serif;font-weight:300;line-height:1.1;color:inherit;margin-top:21px;margin-bottom:10.5px;font-size:26px;'>
        Conversion</h3>
    <p style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0 0 10.5px;">We
        would like to convert {{ cash.USD.conversion|negate|currency }} USD into
        approximately {{ cash.CAD.conversion|currency }} CAD</p>
{% elif cash.CAD.conversion < 0 %}

    <h3 style='-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-family:"Segoe UI", "Source Sans Pro", Calibri, Candara, Arial, sans-serif;font-weight:300;line-height:1.1;color:inherit;margin-top:21px;margin-bottom:10.5px;font-size:26px;'>
        Conversion</h3>
    <p style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0 0 10.5px;">We
        would like to convert {{ cash.CAD.conversion|negate|currency }} CAD into
        approximately {{ cash.USD.conversion|currency }} USD</p>
{% endif %}

<h3 style='-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-family:"Segoe UI", "Source Sans Pro", Calibri, Candara, Arial, sans-serif;font-weight:300;line-height:1.1;color:inherit;margin-top:21px;margin-bottom:10.5px;font-size:26px;'>
    Cash</h3>
<table class="table table-striped table-hover"
       style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border-collapse:collapse;border-spacing:0;background-color:transparent;width:100%;max-width:100%;margin-bottom:21px;">
    <thead style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;">
    <tr class="success"
        style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;color:#fff;">
        <th style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;text-align:left;padding:8px;line-height:1.42857143;vertical-align:top;border-top:1px solid #dddddd;vertical-align:bottom;border-bottom:2px solid #dddddd;background-color:#3fb618;border-top:0;">
            Currency
        </th>
        <th style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;text-align:left;padding:8px;line-height:1.42857143;vertical-align:top;border-top:1px solid #dddddd;vertical-align:bottom;border-bottom:2px solid #dddddd;background-color:#3fb618;border-top:0;">
            Opening
        </th>
        <th style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;text-align:left;padding:8px;line-height:1.42857143;vertical-align:top;border-top:1px solid #dddddd;vertical-align:bottom;border-bottom:2px solid #dddddd;background-color:#3fb618;border-top:0;">
            Total Buy
        </th>
        <th style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;text-align:left;padding:8px;line-height:1.42857143;vertical-align:top;border-top:1px solid #dddddd;vertical-align:bottom;border-bottom:2px solid #dddddd;background-color:#3fb618;border-top:0;">
            Total Sell
        </th>
        <th style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;text-align:left;padding:8px;line-height:1.42857143;vertical-align:top;border-top:1px solid #dddddd;vertical-align:bottom;border-bottom:2px solid #dddddd;background-color:#3fb618;border-top:0;">
            Conversion
        </th>
        <th style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;text-align:left;padding:8px;line-height:1.42857143;vertical-align:top;border-top:1px solid #dddddd;vertical-align:bottom;border-bottom:2px solid #dddddd;background-color:#3fb618;border-top:0;">
            Net Change
        </th>
        <th style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;text-align:left;padding:8px;line-height:1.42857143;vertical-align:top;border-top:1px solid #dddddd;vertical-align:bottom;border-bottom:2px solid #dddddd;background-color:#3fb618;border-top:0;">
            Closing Balance
        </th>
    </tr>
    </thead>
    <tbody style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;">
    {% for currency, currency_data in cash.items %}

        <tr style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;background-color:#f9f9f9;">
            <td data-th="Currency"
                style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;padding:8px;line-height:1.42857143;vertical-align:top;border-top:1px solid #dddddd;">{{ currency }}</td>
            <td data-th="Opening"
                style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;padding:8px;line-height:1.42857143;vertical-align:top;border-top:1px solid #dddddd;">{{ currency_data.open|currency }}</td>
            <td data-th="Buys"
                style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;padding:8px;line-height:1.42857143;vertical-align:top;border-top:1px solid #dddddd;">{{ currency_data.BUY|currency }}</td>
            <td data-th="Sells"
                style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;padding:8px;line-height:1.42857143;vertical-align:top;border-top:1px solid #dddddd;">{{ currency_data.SELL|currency }}</td>
            <td data-th="Conversion"
                style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;padding:8px;line-height:1.42857143;vertical-align:top;border-top:1px solid #dddddd;">{{ currency_data.conversion|currency }}</td>
            <td data-th="Net"
                style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;padding:8px;line-height:1.42857143;vertical-align:top;border-top:1px solid #dddddd;">{{ currency_data.net|currency }}</td>
            <td data-th="Closing"
                style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;padding:8px;line-height:1.42857143;vertical-align:top;border-top:1px solid #dddddd;">{{ currency_data.closing|currency }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% if notes %}

    <h3 style='-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-family:"Segoe UI", "Source Sans Pro", Calibri, Candara, Arial, sans-serif;font-weight:300;line-height:1.1;color:inherit;margin-top:21px;margin-bottom:10.5px;font-size:26px;'>
        Additional Notes</h3>
    <p style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0 0 10.5px;">{{ notes }}</p>
    <br style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;">
{% endif %}

<p style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0 0 10.5px;">Sent via AI
    Trading</p>
</body>
</html>