<div class="container data-container">
    <div id="group_info_panel" class="panel panel-default">
        <div class="panel-heading">
            <h2>Group Info<span style="float: right">
                <button class="btn btn-default no-focus-outline" data-toggle="collapse"
                        data-target="#group_info_panel_body">Show/Hide
                </button>
            </span></h2>
        </div>
        <div id="group_info_panel_body" class="panel-body collapse in">
            <h3 style="margin-top: 0">Supervisors</h3>
            <ul class="list-group">
                {% for supervisor in group.supervisors %}
                    {% if user.email == supervisor.email %}
                        <li class="list-group-item active">
                            <p class="user-box">{{ supervisor.first_name }} {{ supervisor.last_name }}<br class="visible-xs"><span class="user-box" style="float: right">{{ supervisor.email }}</span></p>
                        </li>
                    {% else %}
                        <li class="list-group-item">
                            <p class="user-box">{{ supervisor.first_name }} {{ supervisor.last_name }}<br class="visible-xs"><span class="user-box" style="float: right">{{ supervisor.email }}</span></p>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <h3>Account</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <p>Group {{ group.group_number }}<span style="float: right">{{ group.group_account }}</span></p>
                </li>
            </ul>
            <h3>Members</h3>
            <ul class="list-group">
                {% for member in group.members %}
                    {% if user.email == member.email %}
                        <li class="list-group-item active">
                            <p class="user-box">{{ member.first_name }} {{ member.last_name }}<br class="visible-xs"><span class="user-box" style="float: right">{{ member.email }}</span></p>
                        </li>
                    {% else %}
                        <li class="list-group-item">
                            <p class="user-box">{{ member.first_name }} {{ member.last_name }}<br class="visible-xs"><span class="user-box" style="float: right">{{ member.email }}</span></p>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
