<div id="order_preview_container" class="container" style="display: none;">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h2>Order Preview</h2>
        </div>
        <div class="panel-body">
            {% csrf_token %}
            <div class="alert alert-dismissible alert-danger" style="display: none">
                <button type="button" class="close" onclick="$(this).parent().hide(500)">&times;</button>
                <h4>Oh snap!</h4>
                <p id="preview_error"></p>
            </div>
            <div class="alert alert-dismissible alert-warning" style="display: none">
                <button type="button" class="close" onclick="$(this).parent().hide(500)">&times;</button>
                <h4>Warning!</h4>
                <p id="preview_warning"></p>
            </div>

            <h3 style="margin-top: 0">Securities</h3>

            <table class="rwd-table rwd-table-success table table-striped table-hover">
                <thead>
                <tr class="success">
                    <th>Currency</th>
                    <th>Ticker</th>
                    <th>ISIN</th>
                    <th>Security Name</th>
                    <th>Buy/Sell</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>MKT/LIMIT</th>
                    <th>Order Type</th>
                    <th>Total</th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="preview_table">
                </tbody>
            </table>

            <h3 style="margin-top: 30px">Cash</h3>
            <p class="fx_info"></p>
            <table class="rwd-table rwd-table-success table table-striped table-hover" style="table-layout: fixed">
                <thead>
                <tr class="success">
                    <th>Currency</th>
                    <th>Opening</th>
                    <th>Total Buy</th>
                    <th>Total Sell</th>
                    <th>Conversion
                        <span data-toggle="tooltip" data-placement="top" data-html="true"
                              class="glyphicon glyphicon-question-sign"
                              title="<p style='text-align: left'>A negative value indicates the source currency</p>
                              <p style='text-align: left'>A positive value indicates the target currency<p>"
                        ></span>
                    </th>
                    <th>Net Change</th>
                    <th>Closing Balance</th>
                </tr>
                </thead>
                <tbody id="cash_recap">
                <tr id="CAD_recap">
                    <td data-th="Currency">CAD</td>
                    <td data-th="Opening"></td>
                    <td data-th="Buys"></td>
                    <td data-th="Sells"></td>
                    <td data-th="Conversion">
                        <span data-toggle="tooltip" data-placement="top" data-html="true"
                              class="conversion-tooltip glyphicon glyphicon-question-sign"
                              title="<p style='text-align: left'>A negative value indicates the source currency</p>
                              <p style='text-align: left'>A positive value indicates the target currency<p>"
                        ></span>
                        <div class="input-group">
                            <span class="input-group-addon input-sm"><span
                                    class="glyphicon glyphicon-usd"></span></span>
                            <input id="CAD_conv" type="tel" class="form-control input-sm" title="CAD Currency"
                                   oninput="convertCash($(this), 'CAD', 'USD')">
                        </div>
                    </td>
                    <td data-th="Net"></td>
                    <td data-th="Closing"></td>
                </tr>
                <tr id="USD_recap">
                    <td data-th="Currency">USD</td>
                    <td data-th="Opening"></td>
                    <td data-th="Buys"></td>
                    <td data-th="Sells"></td>
                    <td data-th="Conversion">
                        <span data-toggle="tooltip" data-placement="top" data-html="true"
                              class="conversion-tooltip glyphicon glyphicon-question-sign"
                              title="<p style='text-align: left'>A negative value indicates the source currency</p>
                              <p style='text-align: left'>A positive value indicates the target currency<p>"
                        ></span>
                        <div class="input-group">
                            <span class="input-group-addon input-sm"><span
                                    class="glyphicon glyphicon-usd"></span></span>
                            <input id="USD_conv" type="tel" class="form-control input-sm" title="USD Currency"
                                   oninput="convertCash($(this), 'USD', 'CAD')">
                        </div>
                    </td>
                    <td data-th="Net"></td>
                    <td data-th="Closing"></td>
                </tr>
                </tbody>
            </table>

            <h3 style="margin-top: 30px">Additional Notes</h3>
            <textarea id="order_notes" class="form-control" rows="2" style="width: 100%"></textarea>

            <button id="pre_submit_order" class="btn btn-success btn-block" style="margin-top: 30px"
                    disabled onclick="$('#submit_modal').modal('show')">
                        <span>Submit Order</span>
            </button>
        </div>
    </div>
</div>

<div id="submit_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Confirm Order</h4>
                <div class="modal-body">
                    <p>Are you sure you want to submit?</p>
                    <button id="submit_order" class="btn btn-success btn-block" style="margin-top: 30px"
                    onclick="submitOrder()">
                        <span id="submit_label">Submit Order</span>
                        <div id="submit_loader" class="loader" style="display: none"></div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
