<div class="container data-container">
    <div id="portfolio_panel" class="panel panel-info">
        <div class="panel-heading">
            <h2>Your Portfolio <span style="float: right">
                <button class="btn btn-info no-focus-outline" data-toggle="collapse" data-target="#portfolio_panel_body">Show/Hide
                </button>
            </span></h2>
        </div>
        <div id="portfolio_panel_body" class="panel-body collapse in">
            <div id="portfolio-update-date"><div id="#portfolio-loader" class="loader" style="float:right; border: 3px solid #9954bb; border-top: 3px solid rgba(0, 0, 0, 0);"></div><p style="float: left">Loading...</p><br></div>
            <h3>Securities</h3>
            <table class="rwd-table rwd-table-info table table-striped table-hover">
                <thead>
                <tr class="info">
                    <th>Currency</th>
                    <th>Ticker</th>
                    <th>ISIN</th>
                    <th>Security Name</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>Total</th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="portfolio-table">
                </tbody>
            </table>
            <h3>Cash</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <b>CAD: </b> <span id="portfolio-CAD" style="float:right"></span>
                </li>
                <li class="list-group-item">
                    <b>USD: </b> <span id="portfolio-USD" style="float:right"></span>
                </li>
            </ul>
        </div>
    </div>
</div>
