asn1crypto==0.23.0
bcrypt==3.1.4
certifi==2017.4.17
cffi==1.11.2
chardet==3.0.4
cryptography==2.1.2
dj-database-url==0.4.2
Django==1.11.2
django-registration==2.2
gunicorn==19.7.1
idna==2.5
Jinja2==2.9.6
keen==0.5.1
lxml==3.8.0
MarkupSafe==1.0
paramiko==2.3.1
psycopg2==2.7.1
pyasn1==0.3.7
pycparser==2.18
pycryptodome==3.4.7
PyNaCl==1.1.2
PySocks==1.6.7
pytz==2017.2
requests==2.18.1
six==1.10.0
urllib3==1.21.1
whitenoise==3.3.0
