{% extends "admin/base.html" %}

{% block extrastyle %}
    <link rel="stylesheet" href="/static/css/auth_styles.css">
{% endblock %}

{% block extrahead %}
    <link rel="icon" href="/static/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block noscript %}
        <noscript>
            <meta http-equiv="refresh" content="0; url=/noscript/?redirect={{ request.path }}"/>
        </noscript>
    {% endblock %}
{% endblock %}

{% block nav-global %}{% endblock %}
