{% extends "registration/base_site.html" %}
{% load i18n static %}

{% block title %}Register | AI Trading{% endblock %}

{% block branding %}
    <h1 id="site-name">AI Trading Registration</h1>
{% endblock %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}"/>
    <style>
        input {
            margin-top: 5px !important;
            padding: 8px !important;
            width: 95%;
        }
    </style>
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script>
        function checkEmail() {

            var $checkButton = $("#check_email_btn");

            $checkButton.val("Checking...");

            var request = {
                email: $("#pre_email_check").val()
            };

            $.ajax({
                url: "/accounts/check_authorized_email/",
                method: "POST",
                data: request,
                timeout: 20000,
                headers: {"X-CSRFToken": $("[name=csrfmiddlewaretoken]").val()},
                success: function (response) {
                    $("#error").hide();
                    $("#group_account").text(response);
                    $("#id_email").val(request.email);
                    var fullname = request.email.split("@")[0].split(".");
                    var $firstField = $("#id_first_name");
                    $firstField.val( // Capitalize first letter
                        fullname[0].charAt(0).toUpperCase() + fullname[0].slice(1)
                    );
                    nameValidator($firstField);
                    var $lastField = $("#id_last_name");
                    $lastField.val( // Capitalize first letter
                        fullname[fullname.length - 1].charAt(0).toUpperCase() + fullname[fullname.length - 1].slice(1)
                    );
                    nameValidator($lastField);
                    $("#id_username").val(
                        fullname[0].charAt(0) + fullname[fullname.length - 1]
                    );

                    $("#pre_register_check").remove();
                    $("#post_register_check").show();
                },
                error: function (error, errorType) {
                    if (errorType == "timeout") {
                        $("#error").text("Request timed out, please try again").show()
                    } else {
                        $("#error").text(error.responseText).show()
                    }
                },
                complete: function () {
                    $checkButton.val("Check address");
                }
            });
        }

        function nameValidator($field) {
            $field.val(function (i, oldVal) {
                return oldVal.replace(/[^a-zàâçéèêëîïôûùüÿñæœ \'-]/gi, "");
            });
        }
    </script>
{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

    <div id="content-main">

        <div class="errornote" id="error"
            {% if form.errors %}
               style="display: block;"
            {% else %}
               style="display: none;"
            {% endif %}>

            {% for field in form %}
                {{ field.errors }}
            {% endfor %}
        </div>

        <form action="." method="post" id="registration-form">
            {% csrf_token %}

            <div id="pre_register_check">
                <div class="form-row">
                    <label for=id_email">
                        <b>Enter your McGill email address:</b>
                        <input id="pre_email_check" type="email" placeholder="first.last@mail.mcgill.ca"
                            onkeydown="
                            if(event.keyCode == 13){
                                event.preventDefault();
                                $('#check_email_btn').click();
                            }"/>
                    </label>
                </div>
                <input id="check_email_btn" style="width: 100%; margin-top: 10px !important;" type="button"
                       value="Check address" onclick="checkEmail()"/>
            </div>

            <div id="post_register_check" style="display: none">
                <p>You are authorized as a member of <b id="group_account"></b></p>
                <div class="form-row">
                    <label for=id_email"><b>Email:</b></label>
                    <input type="email" name="email" readonly id="id_email">
                </div>

                <div class="form-row">
                    <label for="id_first_name"><b>First Name:</b></label>
                    <input type="text" name="first_name" maxlength="30" autofocus="" required="" id="id_first_name"
                           oninput="nameValidator($(this))">
                </div>
                <div class="form-row">
                    <label for="id_last_name"><b>Last Name:</b></label>
                    <input type="text" name="last_name" maxlength="30" autofocus="" required="" id="id_last_name"
                           oninput="nameValidator($(this))">
                </div>

                <div class="form-row">
                    <label for="id_username"><b>Username:</b></label>
                    <input type="text" name="username" maxlength="150" autofocus="" required="" id="id_username"
                           oninput="$(this).val(function(i, oldVal) {
                          return oldVal.replace(/[^a-zA-Z\d@.+-_]/, '');
                        })">
                    <span class="helptext">150 characters or fewer. Letters, digits and @/./+/-/_ only.</span>
                </div>

                <div class="form-row">
                    <label for="id_password1"><b>Password:</b></label>
                    <input type="password" name="password1" required="" id="id_password1">
                    <span class="helptext">
                        <ul>
                            <li>Your password can't be too similar to your other personal information.</li>
                            <li>Your password must contain at least 8 characters.</li>
                            <li>Your password can't be a commonly used password.</li>
                            <li>Your password can't be entirely numeric.</li>
                        </ul>
                    </span>
                </div>

                <div class="form-row">
                    <label for="id_password2"><b>Password confirmation:</b></label>
                    <input type="password" name="password2" required="" id="id_password2">
                </div>
                <input type="submit" style="width: 100%; margin-top: 10px !important;" value="Submit"/>

            </div>

        </form>

    </div>
{% endblock %}
