{% extends 'about_modal.html' %}
{% block aboutBody %}

    <p>"Portfolio Details" provides detailed and historical information about the assets in your account. There are two
        main panels on this page:
    </p>

    <ol>
        <li>
            <b>Portfolio Performance:</b> Tracks the historical performance of each asset in its
            local currency. Also tracks total portfolio value in CAD as well as the historical USD &rarr; CAD rate.
            To compare the performance of securities, simply click on a line item in the Compare to field on the left
        </li>
        <li>
            <b>Portfolio Snapshot:</b> View the value and details of your portfolio on any business day in the past year.
            Also shows a breakdown of the portfolio by security, currency, sector and asset category.
        </li>
    </ol>

{% endblock %}