{% extends 'base.html' %}
{% block head %}

    {{ block.super }}
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/pie.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/amstock.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
    <script src="//www.amcharts.com/lib/3/plugins/animate/animate.min.js"></script>
    <script src="https://cdn.rawgit.com/openexchangerates/accounting.js/master/accounting.min.js"></script>
    <script>
        accounting.settings.currency.format = {
            pos: "%s%v",
            neg: "%s(%v)",
            zero: "%s --"
        };
    </script>

    <script src="/static/js/portfolio/snapshot_charts_js.js"></script>
    <script src="/static/js/portfolio/snapshots_js.js"></script>

    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
{% endblock %}
{% block navbar_buttons %}

    <li><a href="/" class="no-focus-outline">Trade</a></li>
    <li><a href="#" class="no-focus-outline" data-toggle="modal" data-target="#about_modal">About</a></li>
    <li><a href="/accounts/password_change" class="no-focus-outline">Change Password</a></li>
    <li><a href="/accounts/logout" class="no-focus-outline">Logout</a></li>

{% endblock %}

{% block content %}
    {% include 'portfolio/about.html' %}
    {% include 'portfolio/containers/portfolio_performance.html' %}
    {% include 'portfolio/containers/portfolio_snapshot.html' %}

{% endblock %}