{% extends "admin/base.html" %}

{% block title %}{{ title }} | AI Trading Site Admin{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" href="/static/css/auth_styles.css">
{% endblock %}

{% block extrahead %}
    <link rel="icon" href="/static/favicon.ico">
    {% block noscript %}
        <noscript>
            <meta http-equiv="refresh" content="0; url=/noscript/?redirect={{ request.path }}"/>
        </noscript>
    {% endblock %}

{% endblock %}

{% block branding %}
    <h1 id="site-name"><a href="{% url 'admin:index' %}">AI Trading Site Administration</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
