<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <title>{{ title }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/global_styles.css">
        <link rel="icon" href="/static/favicon.ico">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {% block noscript %}
            <noscript>
                <meta http-equiv="refresh" content="0; url=/noscript/?redirect={{ request.path }}"/>
            </noscript>
        {% endblock %}
    {% endblock %}
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">{{ title }}</a>
            {% if preview_groups %}
                <select class="navbar-brand" style="background-color: #333333; border: none; margin-top: 0; margin-left: 10px; padding-top: 10px;"
                onchange="window.location.search = 'preview-group='+$(this).val()">
                    {% if group %}
                        {% for preview_group in preview_groups %}
                            {% if preview_group == group.group_account %}
                                <option value="{{ preview_group }}" selected>{{ preview_group }}</option>
                            {% else %}
                                <option value="{{ preview_group }}">{{ preview_group }}</option>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <option disabled selected style="display: none"></option>
                        {% for preview_group in preview_groups %}
                            <option value="{{ preview_group }}">{{ preview_group }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            {% endif %}
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false"
             style="height: 1px;">
            <ul class="nav navbar-nav navbar-right">
                {% block navbar_buttons %}{% endblock %}
            </ul>
        </div>
    </div>
</nav>

{% block content %}{% endblock %}

</body>
</html>