{% extends "registration/base_site.html" %}
{% load i18n static %}

{% block title %}Activation Sent | AI Trading{% endblock %}

{% block branding %}
    <h1 id="site-name">AI Trading Activation Sent</h1>
{% endblock %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}"/>
{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<p>{% trans "An activation email was sent. Please click the link to confirm your registration." %}</p>
{% endblock %}